demoWebService/src/main/webapp/wsdl/BasicService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.demoWebServices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.demoWebServices" xmlns:intf="http://service.demoWebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.demoWebServices" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="cong">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="congResponse">
    <complexType>
     <sequence>
      <element name="congReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="normalizeName">
    <complexType>
     <sequence>
      <element name="fullName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="normalizeNameResponse">
    <complexType>
     <sequence>
      <element name="normalizeNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="helloStudent">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="helloStudentResponse">
    <complexType>
     <sequence>
      <element name="helloStudentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createEmail">
    <complexType>
     <sequence>
      <element name="fullname" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createEmailResponse">
    <complexType>
     <sequence>
      <element name="createEmailReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="normalizeNameRequest">

      <wsdl:part element="impl:normalizeName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="congRequest">

      <wsdl:part element="impl:cong" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloStudentResponse">

      <wsdl:part element="impl:helloStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloStudentRequest">

      <wsdl:part element="impl:helloStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createEmailResponse">

      <wsdl:part element="impl:createEmailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createEmailRequest">

      <wsdl:part element="impl:createEmail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="congResponse">

      <wsdl:part element="impl:congResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="normalizeNameResponse">

      <wsdl:part element="impl:normalizeNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BasicService">

      <wsdl:operation name="cong">

         <wsdl:input message="impl:congRequest" name="congRequest">

       </wsdl:input>

         <wsdl:output message="impl:congResponse" name="congResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="normalizeName">

         <wsdl:input message="impl:normalizeNameRequest" name="normalizeNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:normalizeNameResponse" name="normalizeNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="helloStudent">

         <wsdl:input message="impl:helloStudentRequest" name="helloStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:helloStudentResponse" name="helloStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createEmail">

         <wsdl:input message="impl:createEmailRequest" name="createEmailRequest">

       </wsdl:input>

         <wsdl:output message="impl:createEmailResponse" name="createEmailResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BasicServiceSoapBinding" type="impl:BasicService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="cong">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="congRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="congResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="normalizeName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="normalizeNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="normalizeNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="helloStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="helloStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="helloStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createEmail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createEmailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createEmailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BasicServiceService">

      <wsdl:port binding="impl:BasicServiceSoapBinding" name="BasicService">

         <wsdlsoap:address location="http://localhost:8080/demoWebService/services/BasicService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
